<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8">
<link rel="shortcut icon" href="favicon.ico" />
<title>Funcionários - Início</title>
<link rel="stylesheet" type="text/css"
	href="resources/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css"
	href="resources/css/bootstrap-vue.css">

</head>

<body>
	<div id="app">
		<div class="container-fluid table" align="center">
			<h4>Lista dos Funcionários</h4>
			<table class="table">
				<thead class="thead-dark">
					<tr>
						<th scope="col">Nome</th>
						<th scope="col">Setor</th>
						<th scope="col">Salário</th>
						<th scope="col">Email</th>
						<th scope="col">Idade</th>
						<th scope="col"></th>
						<th scope="col"></th>
					</tr>
				</thead>
				<tbody id="event-table">
					<tr v-for="(funcionario, i) in listaFuncionarios" :key="funcionario.id">
						<td>{{ funcionario.nome }}</td>
						<td>{{ funcionario.setor.nome }}</td>
						<td>R$ {{ funcionario.salario }}</td>
						<td>{{ funcionario.email }}</td>
						<td>{{ funcionario.idade }}</td>
						<td><span style="cursor: pointer" @click="abreModalEdicaoFuncionario(funcionario)">&#9998;</span></td>
						<td><span style="cursor: pointer" @click="deletaFuncionario(funcionario.id, i)">&#10006;</span></td>
					</tr>
				</tbody>
			</table>
	
			<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalFuncionario" @click="abreModalCadastroFuncionario">Adicionar Novo Funcionário</button>
		</div>
		
	
		<div class="modal fade" id="modalFuncionario" tabindex="-1" role="dialog" aria-hidden="true">
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="tituloModalFuncionario"></h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body" id="cadastro-de-funcionario" align="center">
						<form>
							<div class="form-group row">
								<label for="inputName" class="col-sm-2 col-form-label">Nome</label>							
								<div class="col-sm">
									<input type="text" class="form-control" id="inputName" v-model="funcionario.nome" placeholder="Nome Completo">
								</div>
							</div>
	
							<div class="form-group row">
								<label for="inputEmail" class="col-sm-2 col-form-label">E-mail</label>
								<div class="col-sm">
									<input type="email" class="form-control" id="inputEmail" v-model="funcionario.email" placeholder="E-mail">
								</div>
							</div>
	
							<div class="form-group row justify-content-md-center">
								<label for="inputSalary" class="col-sm-2 col-form-label">Salário</label>
								<div class="input-group col-sm">
									<div class="input-group-prepend">
										<span class="input-group-text" id="basic-addon1">R$</span>
									</div>
									<div>
										<input type="number" class="form-control money" id="inputSalary" step="100" v-model="funcionario.salario" placeholder="0,00">
									</div>
								</div>
							</div>
	
							<div class="form-group row justify-content-md">
								<label for="inputAge" class="col-sm-2 col-form-label">Idade</label>
								<div class="col-sm-2">
									<input type="number" class="form-control" id="inputAge" v-model="funcionario.idade" placeholder="Idade">
								</div>
							</div>
	
							<div class="form-group row justify-content-md-center">
								<label for="inputSector" class="col-sm-2 col-form-label">Setor</label>
								<div class="col-sm col-form-label">
									<select id="inputSector" class="form-control" v-model="funcionario.setor">
										<option v-for="(setor, i) in listaSetores" :key="setor.id" v-bind:value="setor">{{setor.nome}}</option>
									</select>
								</div>
								<div class="col-sm col-form-label">
									<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalSetor" @click="abreModalCadastroSetor">Cadastrar Setor</button>			
								</div>
							</div>
						</form>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
						<button class="btn btn-success" id="botaoModalFuncionario" @click="onSubmitFuncionario"></button>
					</div>
				</div>
			</div>
		</div>
		
		
		<div class="modal fade" id="modalSetor" tabindex="-1" role="dialog" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="tituloModalSetor"></h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body" id="cadastro-de-setor" align="center">
						<form>
							<div class="form-group row">
								<label for="inputName" class="col-sm-2 col-form-label">Nome</label>							
								<div class="col-sm">
									<input type="text" class="form-control" id="inputName" v-model="funcionario.setor.nome" placeholder="Nome do Setor">
								</div>
							</div>
						</form>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
						<button class="btn btn-success" id="botaoModalSetor" @click="onSubmitSetor"></button>
					</div>
				</div>
			</div>
		</div>
	</div>


	<script src="https://code.jquery.com/jquery-3.6.0.min.js"
		integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
		crossorigin="anonymous"></script>

	<script src="resources/js/bootstrap.min.js"></script>
	<script src="resources/js/vue.js"></script>
	<script src="resources/js/axios.min.js"></script>
	
	<script src="resources/js/index.js"></script>
</body>
</html>